{
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["jest", "@typescript-eslint"],
  "overrides": [
    {
      "files": [
        "**/__tests__/**",
        "**/__mocks__/**",
        "**/*.test.ts",
        "**/types.ts"
      ],
      "rules": {
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/explicit-function-return-type": 0,
        "@typescript-eslint/no-object-literal-type-assertion": 0
      }
    }
  ]
}
